/* Effective stylesheet produced by snapshot save */
a { direction: ltr; unicode-bidi: embed; text-decoration: none; display: inline-block; }
.username-coloured { font-weight: bold; display: inline ! important; padding: 0px ! important; }
.jumpbox-cat-link, .jumpbox-forum-link { font-weight: bold; }
.postlink { text-decoration: none; border-bottom: 1px solid transparent; padding-bottom: 0px; }
.postlink:hover { text-decoration: none; }
.signature a, .signature a:hover { border: medium none; text-decoration: underline; }
.postprofile a, .postprofile dt.author a { font-weight: bold; text-decoration: none; }
.postprofile a:hover, .postprofile dt.author a:hover { text-decoration: underline; }
.top { font-size: 12px; text-decoration: none; margin-top: 10px; }
.back2top { clear: both; }
.back2top .top { float: right; margin-right: -10px; margin-top: 0px; }
.arrow-left:hover { text-decoration: none; }
.skiplink { position: absolute; left: -999px; width: 990px; }
a.anchor { display: block; }
